.body {
    width: 80%;
    margin-left: 10%;
}

.body .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.body .buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    background-color: white;
    box-shadow: 0 0 10px rgba(200, 200, 200, 1);
    margin: 20px;
    font-size: 20px;
}

.body .buttons a:hover {
    box-shadow: 0 0 20px 5px rgba(200, 200, 200, 1);
}