* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: rgba(220, 220, 220, 1);
}

.a-button {
    text-decoration: none;
    color: black;
}