.content {
    margin: 50px;
}

.switch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 50px 100px 50px;
}

.container-switch {
    border-radius: 20px;
    box-shadow: 0 0 30px rgb(180, 180, 180);
}

.left-active {
    background: linear-gradient(90deg, rgba(50, 50, 180, 0.75) 0%, rgba(255, 255, 255, 1) 70%);
}

.right-active {
    background: linear-gradient(270deg, rgba(50, 50, 180, 0.75) 0%, rgba(255, 255, 255, 1) 70%);
}

.switch-btn {
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 20px 30px 20px 30px;
    background-color: transparent;
    font-size: 20px;
    width: 200px;
}


.timetable-woche {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}

#list-view {
    display: none;
    justify-content: space-evenly;
    align-items: center;
}

#courses-table tr:nth-child(even), #timetable-table tr:nth-child(even) {
    background-color: rgba(200, 200, 200, 1);
}

th {
    padding: 10px 50px 10px 50px;
    text-align: center;
    font-size: 25px;
}

td {
    padding: 5px 75px 5px 75px;
    margin-bottom: 10px;
    text-align: center;
}

.woche-label {
    font-size: 40px;
}

.email-copy-btn {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}